* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  min-height: 100vh;
  overscroll-behavior: none;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 26px;
  height: calc(100vh + env(safe-area-inset-top));
  background: #fff;
  padding: env(safe-area-inset-top) calc(env(safe-area-inset-right) + 16px)
    calc(env(safe-area-inset-bottom) + 64px)
    calc(env(safe-area-inset-left) + 16px);
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
}

header {
  padding: 40px 0;
}

form {
  display: flex;
  margin-top: 16px;
}

@media print {
  form,
  button,
  h1,
  input {
    display: none;
  }

  .page {
    padding: 1.6cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h1 {
  font-size: 40px;
}

input {
  padding: 10px;
  font-size: 20px;
  flex: 1;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

button {
  padding: 5px 10px;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  color: #ff2d55;
  background: #eaeaea;
  margin-left: 8px;
}

@page {
  size: auto;
  margin: 0;
}

.page {
  height: 100vh;
  page-break-after: always;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
}

strong {
  font-size: 40px;
}

.box {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: 1px solid #ddd;
}
